html {

}
h1 {
    letter-spacing: -1px;
}

hero {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  hero::-webkit-scrollbar {
    display: none;
  }
  p {
    margin-top: 0;
    font-size: 2rem;
    max-width: 60ch;
  }
  hero .img {
    min-width: 100%;
  }
  hero .img + .img {
    padding-left: 4rem;
  }
  hero .img:nth-child(1) {
    min-width: 25%;
  }
  hero .img:nth-child(2) {
    min-width: 105%;
    max-width: 120rem;
  }
  hero .img img {
    width: 100%;
  }
  hero .img:last-child::after {
    display: block;
    content: '';
  }
  @media(min-width: 1600px) {
    hero {
        padding-left: calc(50vw - var(--page-width) / 2 + 4rem);
        padding-right: calc(50vw - var(--page-width) / 2 + 4rem);
        scroll-padding-left: calc(50vw - var(--page-width) / 2 + 4rem);
    }
    
    hero .img:last-child::after {
        width: calc(50vw - var(--page-width) / 2 + 4rem);
    }
  }