:root {
  color-scheme: light dark;
  --page-width: 111rem;
  --highlight-color: light-dark(#222, #eee);
  --background-color: light-dark(#fcfcfc, #24283b);
  --headings-color: light-dark(#222, color-mix(in oklab, #04ff00, #00ffff 67%));
  --link-color: light-dark(#222, #a78add);
  --h1-padding: 20px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  justify-content: center;
  background: var(--background-color);
  color: var(--highlight-color);
  font-size: 1.6rem;
  overflow: hidden;
  overflow-y: auto;
}
strong {
  font-weight: 600;
}
h1 {
  color: var(--headings-color);
  /* background-color: light-dark(#343841, var(--background-color)); */
  color: light-dark(#222, var(--headings-color));
  text-wrap: balance;
  font-weight: 400;
  font-size: 4.8rem;
  max-width: 32ch;
}
@media (prefers-color-scheme: light) {
  h1 {
    padding: 2.4rem var(--h1-padding);
    border-radius: 4px;
  }
}
a {
  color: var(--link-color);
}
p {
  font-size: 1.8rem;
  font-family:
    JetBrains Mono,
    monospace;
}
ul {
  list-style: square;
  list-style-position: inside;
}
circle#Oval {
  stroke: var(--headings-color);
}
body > header,
main > * {
  max-width: var(--page-width);
  padding: 2rem;
  margin: 0 auto;
}
@media (min-width: 640px) {
  body > header,
  main > * {
    //padding: 2.4rem 4rem;
  }
}
header a {
  font-weight: 500;
  font-size: 2rem;
  padding: 0 0.8rem;
  text-decoration: none;
  text-transform: capitalize;
}
.footer {
  display: flex;
}
#info {
  width: 94%;
  max-width: 800px;
  align-content: center;
  border: none;
  border-radius: 10px;
}
#info::backdrop {
  background-color: rgba(0, 0, 0, 0.371);
}
button[popovertarget].text-like {
  border: 0;
  background: none;
  font: inherit;
  display: inline-block;

  color: #1e88e5;
  text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: #42a5f5;
  text-underline-offset: 2px;
  overflow: visible;

  padding: 0 1.1rem 0 0; /* space for icon */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='100' title='question-circle'%3E%3Cpath fill='%231e88e5' d='M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z' /%3E%3C/svg%3E");
  background-size: 0.8em;
  background-repeat: no-repeat;
  background-position: center right 1px;

  &:focus,
  &:hover {
    text-decoration-color: lightblue;
    text-decoration-style: solid;
  }
}
