.hero {
  width: 100%;
}
.hello {
  display: inline-block;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.scrollable .img {
  animation: hero-scroll linear;
  animation-timeline: scroll(root);
  translate: 0%;
}
@keyframes hero-scroll {
  from { 
    translate: 0%;
  }
  to { 
    translate: -10%;
  }
}

.tools-logo {
  width: 64px;
  height: auto;
}
.github {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.github ul {
  list-style: none;
  
}
.github > * {
  flex-basis: 50%;
}
.github-profile {
  max-width: 50%;
  flex: 1;
  min-width: 28rem;
  padding-bottom: 4rem;
}
.github-profile > * {
  text-align: center;
}
.github-profile img {
  margin: 0 auto;
  border-radius: 5rem;
}
.github-profile a {
  padding: 0.8rem 0;
  display: inline-block;
}
.github-profile a strong {
  font-weight: 700;
}
.github-langs {
  padding-top: 0.8rem;
}
.github-langs span {
  font-size: 12px;
  display: inline-block;
  background-color: #333;
  color: #f3f4f6;
  margin: 0.8rem 0.4rem 0 0;
  padding: 0.4rem 0.6rem;
  border-radius: 2px;
}