:root {
  --font-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
    'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
  --color-light: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #1f2937;
  }
}
a {
  color: inherit;
}
h1 {
  padding-top: 3.2rem;
  font-weight: 400;
  font-size: 3.6rem;
  max-width: 32ch;
}
.hero {
  width: 100%;
}
.hello {
  display: inline-block;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.tools-logo {
  width: 64px;
  height: auto;
}
.github {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.github ul {
  list-style: none;
  
}
.github > * {
  flex: 1;
}
.github-profile {
  max-width: 40%;
  flex: 1;
  min-width: 28rem;
  padding-bottom: 4rem;
}
.github-profile > * {
  text-align: center;
}
.github-langs {
  padding-top: 0.8rem;
}
.github-langs span {
  font-size: 12px;
  display: inline-block;
  background-color: #333;
  color: #f3f4f6;
  margin: 0.8rem 0.4rem 0 0;
  padding: 0.4rem 0.6rem;
  border-radius: 2px;
}