---
layout: default
title: A design and dev blog
css: main
js: main
---
{% assign counter = 1 %}
{% for post in site.posts %}
<div class="post-wrapper more-padding-top more-padding-bottom item{{ counter }} {{ post.color }}" style="{% if post.bgColor %}background-color: #{{ post.bgColor }}; {% endif %}{% if post.bgImg %}background-image:url(/dist/img/{{ post.bgImg }});{% endif %}">
  <div class="grid content-wrapper">
    <div class="unit half">
      <a href="{{ post.url }}">
        <h2 class="align-left padding-right uppercase">{{ post.title }}</h2>
        <svg class="margin-top" width="441" height="393" viewBox="0 0 441 393" xmlns="http://www.w3.org/2000/svg"><title>read more arrow</title><path d="M331.87 226H0v-56h334.902L204.767 39.865 244.365.267l195.868 195.868-.114.115.347.348-195.87 195.87-39.597-39.6L331.87 226z" fill="#444" fill-rule="evenodd"/></svg>
      </a>
    </div>
    <div class="unit half">
      {% if post.headerImg %}
      <img src="/dist/img/{{ post.headerImg }}" width="256" class="header-image more-margin-bottom float-center">
      {% endif %}
      {{ post.excerpt }}
    </div>
  </div> 
</div>
{% assign counter = counter | plus: 1 %}
{% endfor %}