<div class="orbit">
    <div class="logo">
        <svg width="44px" height="44px" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <circle id="Oval" stroke="#1B1B1B" stroke-width="8" cx="22" cy="22" r="18"></circle>
            </g>
        </svg>
    </div>
    <div class="planet">
        <svg class="tools-logo" width="337px" height="309px" viewBox="0 0 337 309" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Sketch-Logo-Light" fill="#000000" fill-rule="nonzero">
                    <path d="M169.097142,0.772367 L261.465038,11.190406 C263.414546,11.410289 265.185263,12.42924 266.354463,14.004005 L335.106745,106.604654 C337.071368,109.250752 336.948019,112.90232 334.809307,115.409924 L170.996386,307.477853 C169.728526,308.964397 167.495141,309.142102 166.007981,307.874768 C165.86531,307.753187 165.732533,307.620464 165.610901,307.477853 L1.7979801,115.409924 C-0.3407321,112.90232 -0.4640804,109.250752 1.500542,106.604654 L70.252824,14.004005 C71.422024,12.42924 73.192741,11.410289 75.142249,11.190406 L167.510145,0.772367 C168.037471,0.712891 168.569816,0.712891 169.097142,0.772367 Z M188.271723,20.750505 C187.730437,20.20652 186.865791,20.158368 186.267404,20.638885 C185.679877,21.11068 185.54132,21.934072 185.911059,22.565238 L186.037288,22.748277 L238.125547,87.560035 C238.630314,88.188101 238.905458,88.969596 238.905458,89.77523 C238.905458,91.631003 237.475684,93.152974 235.657176,93.300531 L235.366965,93.312256 L101.240322,93.312256 C100.434354,93.312256 99.652535,93.037227 99.024209,92.532669 C97.585327,91.377218 97.288753,89.3272 98.291302,87.820071 L98.48174,87.560035 L150.569999,22.748277 C151.050715,22.150138 151.002543,21.28585 150.458333,20.744789 C149.924001,20.213548 149.089974,20.167368 148.503524,20.604776 L148.335564,20.750505 L77.771154,91.666732 C77.207019,92.23368 76.429241,92.535569 75.63017,92.497738 C74.160378,92.428153 73.00562,91.250019 72.936517,89.810234 L72.936471,89.537415 L75.370404,38.169979 C75.402889,37.484392 74.938413,36.874386 74.268671,36.723053 C73.569745,36.565125 72.874721,36.953767 72.630979,37.606686 L72.576029,37.791095 L59.205682,96.913932 C58.748313,98.936388 57.224959,100.536131 55.251056,101.104172 L54.87582,101.19844 L21.770933,108.327713 C21.119064,108.468096 20.653634,109.04424 20.653634,109.710789 C20.653634,110.427053 21.186114,111.019 21.87697,111.112684 L22.069031,111.1256 L55.092189,111.1256 C57.012466,111.1256 58.792354,112.097571 59.832657,113.690642 L60.030679,114.017434 L139.249479,255.267664 C139.794112,256.238766 140.99689,256.624109 142.00479,256.150403 C142.995161,255.684937 143.458191,254.552705 143.109885,253.541444 L143.022726,253.326884 L78.97981,117.176037 C78.714042,116.611031 78.576246,115.994375 78.576246,115.370032 C78.576246,113.127816 80.315612,111.291682 82.519192,111.136257 L82.822437,111.1256 L253.78485,111.1256 C254.409453,111.1256 255.026364,111.263339 255.591604,111.528997 C257.621557,112.48306 258.54377,114.837736 257.74686,116.897191 L257.627477,117.176037 L193.584561,253.326884 C193.110659,254.334366 193.496162,255.536646 194.467666,256.081052 C195.422274,256.615992 196.613098,256.334425 197.233817,255.46328 L197.357808,255.267664 L276.576608,114.017434 C277.515637,112.343109 279.234197,111.266492 281.133092,111.138456 L281.515098,111.1256 L314.538256,111.1256 C315.205082,111.1256 315.781465,110.660363 315.921906,110.008764 C316.072821,109.308566 315.677007,108.617796 315.021386,108.380772 L314.836354,108.327713 L281.731467,101.19844 C279.70365,100.761742 278.087917,99.255278 277.499704,97.28804 L277.401606,96.913932 L264.031259,37.791095 C263.879862,37.121631 263.269604,36.657346 262.583732,36.689818 C261.867974,36.723704 261.301636,37.283373 261.240703,37.977602 L261.236883,38.169979 L263.670816,89.537415 C263.708663,90.336155 263.406649,91.11361 262.839466,91.677512 C261.800277,92.710689 260.160017,92.77102 259.050603,91.861555 L258.836133,91.666732 L188.271723,20.750505 Z" id="Logo"></path>
                </g>
            </g>
        </svg>
    </div>
    <div class="planet">
        <svg class="tools-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 101"><path d="M63.36 100.258l25.312-6.29S77.774 20.285 77.705 19.779c-.07-.505-.511-.786-.878-.816-.364-.03-7.49-.14-7.49-.14s-4.344-4.218-5.977-5.815v87.25zm-2.756-88.091l-2.993.927a20.995 20.995 0 00-1.434-3.521c-2.121-4.05-5.23-6.191-8.984-6.197h-.014c-.261 0-.52.025-.78.048a11.465 11.465 0 00-.34-.392C44.425 1.282 42.328.43 39.813.505c-4.849.138-9.679 3.64-13.595 9.862-2.755 4.377-4.852 9.876-5.446 14.134-5.569 1.724-9.463 2.93-9.549 2.958-2.81.883-2.9.969-3.266 3.619-.275 2.002-7.63 58.87-7.63 58.87L61.344 100.5V12.042c-.3.02-.57.075-.739.125zM46.515 16.53l-10.29 3.185c.994-3.807 2.88-7.598 5.196-10.084.861-.925 2.067-1.955 3.494-2.544 1.342 2.8 1.633 6.763 1.6 9.443zM39.908 3.732c1.138-.025 2.097.225 2.916.764-1.311.68-2.578 1.658-3.766 2.932-3.08 3.305-5.441 8.435-6.383 13.384-2.935.909-5.807 1.8-8.451 2.617 1.67-7.79 8.199-19.48 15.684-19.697zM30.473 48.11c.328 5.19 13.984 6.324 14.75 18.483.603 9.565-5.074 16.109-13.253 16.625-9.818.62-15.223-5.174-15.223-5.174l2.08-8.851s5.441 4.105 9.796 3.83c2.844-.18 3.86-2.494 3.758-4.13-.428-6.771-11.548-6.371-12.25-17.497-.592-9.363 5.557-18.85 19.124-19.706 5.227-.33 7.904 1.006 7.904 1.006l-3.102 11.606s-3.46-1.575-7.563-1.316c-6.018.38-6.082 4.174-6.021 5.124zM49.74 15.533c-.037-2.455-.328-5.872-1.473-8.824 3.68.697 5.491 4.86 6.258 7.343-1.42.437-3.036.936-4.785 1.48z"/></svg>
    </div>
    <div class="planet"></div>
    <div class="planet"></div>
</div>
<style>
.orbit {
    width: 24rem;
    height: 24rem;
    border: 1px solid #eee;
    border-radius: 12rem;
    animation:rotate 40s linear infinite;
}
.logo {
    width: 4.4rem;
    height: 4.4rem;
    position: absolute;
    top: calc(50% - 2.2rem);
    left: calc(50% - 2.2rem);
}
.planet {
    width: 6rem;
    height: 6rem;
    position: absolute;
    //background-color: blue;
    object-fit: contain;
    top: -3rem;
    left: calc(50% - 3rem);
    animation: planet-rotate 40s linear infinite;
}
.planet svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.planet:nth-child(2) {
    top: calc(50% - 3rem);
    right: -3rem;
    left: unset;
}
.planet:nth-child(3) {
    bottom: -3rem;
    left: calc(50% - 3rem);
    top: unset;
}
.planet:nth-child(4) {
    top: calc(50% - 3rem);
    left: -3rem;
}
@keyframes rotate {
    100% { transform: rotate(360deg); }
}
@keyframes planet-rotate {
    100% { transform: rotate(-360deg); }
}
</style>