
    
<div class="test">
    <section>
        <h2>adad</h2>
    </section>
</div>
<style>
    .test {
        background-color: red;
    }
    .test section {
        background-color: red;
    }
</style>