.blog {
  .post-wrapper,
  .header-wrapper {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .25s linear;
    margin: 60px 20px;
    a {
      text-decoration: none !important;
      h2 {
        line-height: 1.23;
      }
      svg {
        width: 120px;
        height: 80px;
        transition: margin .3s;
      }
    }
    a:hover {
      svg {
        margin-left: .5em;
      }
    }
    p {
      font-size: 2.4em;
    }
    .content-wrapper {
      transform: none !important;
    }
    &.item1 {
      padding-top: 20em;
    }
    &.white {
      h2,
      p,
      a:hover {
        color: $white !important;
      }
      svg {
        path {
          fill: $white;
        }
      }
    }
  }
}
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-size: 80%;
}

.site {
  font-size: 115%;
  text-align: justify;
  width: 90%;
  margin: 1em auto 2em;
}

#header a:first-child{
  font-weight: bold;
  /*text-decoration: none;*/
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #111;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #111;
}

.date {
  width: 100px;
  text-align: center;
  margin-top: 40px;
  color: #B0B5D2;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post-content {
  > * {
    margin: 1.5em auto;
    max-width: 42em;
  }
  img {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
    display: block;
    margin: 40px auto 5px;
    height: auto;
  }
}
/* standard */
.post-content > p:first-child,
.post-content div:first-child + p,
.post-content > img:nth-child(-n+1) {
  font-size: 24px;
  text-align: center;
  padding: 2em 0;
}
.post code {
  word-break: break-all;
  display: block;
  font-size: 13px;
  line-height: 1.2;
  padding: 10px;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
.post blockquote {
  text-align: center;
  font-style: italic;
}
.post blockquote p:before {
  content:"\201C";
}
.post blockquote p:after {
  content:"\201D";
}
.post blockquote p{
 padding: 5px 20px;
}
/*****************************************************************************/
/*
/* Misc
/*
/*****************************************************************************/

.text {
  word-wrap: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}
#related {
  list-style: none;
  padding-top: 40px;
  text-align: center;
}
#related li{
  width: 31%;
  padding: 0 1%;
  display: block;
  float: left;
  text-align: center;
}
#related > span,
#related > a{
  white-space: nowrap;
  line-height: 1.43;
}
#related li > a{
  font-size: 1.5em;
  text-decoration: none;
}
#related li p{
  margin: 5px 0 0 0;
  text-align: left;
}
#related > div.title:only-child{
  display: none;
}
#related span:first-child:after {
  content: ", ";
  margin:  0 4px 0 -2px;
}
#related span:last-child:after {
  content: ".";
  margin-left: -3px;
}
#disqus_thread {
  max-width: 768px;
}
.small {
  max-width: 420px;
}