.flickr {
  padding-bottom: 20px;
  min-height: 220px;
  padding-top: 20px;
}
.flickr h3 {
  color: .111;
}
.flickr .imgLoading {
  width: 128px;
  height: 128px;
  margin: 40px auto;
}
.flickrLoader {
  display: none;
  width: 60px;
  height: 60px;
  margin: 40px auto;
  position: relative;
}
.flickr ul {
  margin-top: 10px;
}
.flickr a,
.flickr li {
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
}
.flickr li {
  width: 16.66%;
}
.flickr a {
  width: 100%;
  height: 100%;
}
.flickr > img {
  display: block;
  margin: 20px auto;
  width: 100%;
  height: auto;
  max-width: auto;
}
.flickr-feed img {
  height: 101%;
  width: 101%;
  opacity: 1;
  transition: opacity 1s ease-out;
}
.flickr a.more-flickr-photos {
  float: right;
  text-align: right;
  text-decoration: none;
  font-size: 1.3em;
  margin-top: 5px;
  height: 20px;
}