.github {
  width: 98.57143%;
  margin-left: .71429%;
  margin-right: .71429%;
	> div {
    float: left;
		width: 20%;
    padding: 12px;
	}
  .leading {
    min-height: 320px;
		position: relative;
    h3 {
      line-height: 1;
    }
    small {
      font-size: 14px;
      line-height: 14px;
    }
  }
  .octocat {
    position: absolute;
    bottom: 0px;
    left:  10px;
    width: 80px;
  }
  .project-wrapper {
    font-size: 100%;
    display: block;
    min-height: 320px; 
    margin: 0;
	  padding: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    h3 {
      color: #111;
      line-height: 1.1;
      margin-bottom: 1.2rem;
    }
    p {
      color: #444;
      margin: 0;
      line-height: 1.34;
    }
    a {
      margin-top: 6px;
      display: inline-block;
		  opacity: 0;
      text-decoration: none !important;
      position: relative;
      padding-left: 18px;
      transition: padding .5s;
      overflow:hidden; 
      line-height: 1.2em;
      max-height: 1.2em;
      aside {
        display: block;
        width: 12px;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .5s;
      }
      &:hover {
        padding-left: 0;
        aside {
          left: 100%;
          top: 0;
        }
      }
    }
    &:hover {
      a {
        opacity: 1;
      }
      svg {
        left: 0px;
	  }
    }
    svg {
      width: 48px;
      height: 48px;
      position: absolute;
      bottom: 20px;
      left: -100px;
      transition: left .4s;
      path {
        fill: #fafafa;
      }
    }
  }

  $githubBGcolor: aliceblue;
  $classID: 0;

  @for $i from 1 through 9 {     
    .project-#{$i} {
        background-color: darken($githubBGcolor, $classID);
    }
    $classID: $classID + 1.68;
  }
}