* {
  margin: 0;
  padding: 0;
}
html {
 font-size: 62.5%;
 box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: $prim-font-stack;
  line-height: 1.43;
  transition: opacity 1200ms ease-out,transform 400ms ease-out;
	//transition: opacity 500ms cubic-bezier(.55,.055,.675,.19), transform 400ms cubic-bezier(.55,.055,.675,.19);
  -webkit-font-smoothing: antialiased;
  background-color: #fefefe;
  font-weight: 400;
}
h1, h2, h3, h4, #intro, footer, .bob {
  font-family: $sec-font-stack;
  font-weight: 500;
  a {
    font-size: 100%;
  }
}
h1 {
  font-size: 9.2em;
  padding-bottom: 0px;
  position: relative;
  font-weight: 500;
  color: #222;
//  letter-spacing: -2px;
//  word-spacing: -6px;
}
h2 {
  font-size: 3.6em;
  padding-bottom: 30px;
  color: #333;
}
h3,
.h3 {
  font-size: 2.4em;
}
h4,
.h4 {
  font-size: 2.1em;
}
p {
  font-size: $p-font-size;
//  font-weight: 200;
  margin: 1em auto !important;
  line-height: 30px;
  color: #222;
  word-spacing:  -.1em;;
  letter-spacing: .3px;
}
a {
  color: #00B1FC;
  font-size: 1.6rem;
}
ul {
  list-style: none;
}
code {
  font-size: $p-font-size;
  word-break: break-all;
  display: block;
  font-size: 13px;
  line-height: 1.2;
}
.border {
  border: $border;
}
.content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 4000px;
}
.learn-more {
	max-width: 640px;
}
/* margins */
.margin-top         { margin-top: $margin; }
.margin-right       { margin-right: $margin; } 
.margin-bottom      { margin-bottom: $margin; }
.margin-left        { margin-left: $margin; }
.more-margin-top    { margin-top: $more-margin; }
.more-margin-right  { margin-right: $more-margin; }
.more-margin-bottom { margin-bottom: $more-margin; }
.more-margin-left   { margin-left: $more-margin; }
.no-margin          { margin: 0 !important;}


/* paddings */
.less-padding-top     { padding-top: $less-padding !important; }
.less-padding-bottom  { padding-bottom: $less-padding !important; }
.padding-top          { padding-top: $padding !important; }
.padding-right        { padding-right: $padding !important; }
.padding-bottom       { padding-bottom: $padding !important; }
.padding-left         { padding-left: $padding !important; }
.more-padding-top     { padding-top: $more-padding; }
.more-padding-right   { padding-right: $more-padding; }
.more-padding-bottom  { padding-bottom: $more-padding; }
.no-padding           { padding: 0px !important;} 

.block { display: block; }
/* floats */
.float-center {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.pull-left,
.float-left   { float: left; }
.pull-right,
.float-right   { float: right; }
.clear-both   { clear: both; }
.clear:before, .clear:after {
  clear: both;
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
/* Text */
.justify      { text-align: justify; }
.align-center { text-align: center !important; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-middle {
  display: inline-block;
  vertical-align: middle;
}
.uppercase	  { text-transform: uppercase; }
.bold					{ font-weight: 800;}
.small-text   { font-size: 1.4em;}
.smaller-text { font-size: 1.2em;}
.inline-block { display: inline-block; }
.leading {
  font-size: 2.1em;
  line-height: 1.5;
}

/* List styles */
.list-unstyled { list-style: none;}

.middler {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

a[disabled], .disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: line-through;
}

.box-shadow { box-shadow: 0 2px 7px #ccc; }
/* Buttons */
.border-button {
  border: 1px solid #65c7fd;
  text-decoration: none;
  padding: 9px 18px;
  text-decoration: none;
  border-radius: 30px;
}
.hire-me {
  width: 7em;
  font-size: $p-font-size;
}
/* Code highlight*/
.highlight {
  padding: $padding;
  @extend .float-center;
  overflow: scroll;
  background-color: $light-blue;
  border-radius: 2px;
}
.JavaScript {
  background-color: #f1e05a;
}
.HTML {
  background-color: #e44b23;
  color: #fff;
}
.b-lazy {
	transform: translateY(50px);
  transition: filter .5s, opacity 500ms, transform 200ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}
.b-lazy.b-loaded {
	transform: translateY(50px);
  opacity: 1;
}

.desktop-chrome, 
.phone-chrome {	
	background-color: transparent;
	&.loaded  {
		background-color: #fff;
	}
}
.loaded.desktop-chrome {
	position: relative;
	z-index: 2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px 0px 59px -1px rgba(0,0,0,0.22);
	padding-top: 15px;
	&:before {
		content: "•••";
    font-weight: 100;
    letter-spacing: 1.1px;
		position: absolute;
		display: block;
		line-height: 15px;
		width: 20px;
		top: 0px;
		left: 6px;
		color: inherit;
		z-index: 3;
	}
}

.loaded.phone-chrome {
	position: relative;
	z-index: 2;
	padding: 50px 10px 60px;
  border-radius: 2.3em;
  box-shadow: 0px 0px 59px -1px rgba(0,0,0,0.22);
	img {
	  border: 1px solid;
	  border-color: inherit;
	}
	&:before {
		content: "•";
		font-size: 20px;
		position: absolute;
		display: block;
		line-height: 30px;
		width: 20px;
		margin-left: -12px;
		top: 5px;
		left: 50%;
		color: inherit;
		z-index: 3;
	}
	&:after {
		content: "";
		font-size: 24px;
		position: absolute;
		display: block;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		border: 2px solid red;
		border-color: inherit;
		margin-left: -15px;
		bottom: 15px;
		left: 50%;
		color: inherit;
		z-index: 3;
	}
}