.content > header {
	@include full;
  height: 100vh;
  position: relative;
  padding-bottom: gutter() * 2;
		> div {
		background-color: #f1e05a;
		margin: gutter() * 2;		
		@include span(10 of 10);
		height: 100% - (gutter() * 4);
		display: inline-block;
		vertical-align: middle;
		background-image: url(/dist/img/rp-iphone.png);
		background-repeat: no-repeat;
		background-position: 50% 90%;
		background-size: 150px;
		@include breakpoint($medium){
	    background-position: right 23% top 50%;
	  }
		@include breakpoint($large){
	    background-size: 200px;
	  }
	}	
  h1 {
    width: 100%;
    line-height: 1.2;
    color: #333;
		font-size: 2.4em;
		vertical-align: top;
		padding-left: gutter() * 2;
		display: inline-block;
		position: relative;
		z-index: 2;
		@include breakpoint($medium){
			margin-top: 0;
	    font-size: 6.4em;
			width: 50%;
			vertical-align: middle;
	  }		
    a {
      font-size: 18px;
      color: #8C92BF;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .iPad {
    text-align: center;
    svg {
      fill: #fafafa;
      width: 160px;
      height: auto;
      path {
        fill: #fafafa;
      }
    }
  }
}