/*
* Media Queries 
*/

@media screen and (max-width: 1024px) {
  .content-wrapper {
//    width: 90%;
  }
  .unit.one-fifth {
    width: 33%;
  }
}
@media screen and (max-width: 767px) { 
  .video-container {
    display: none;
  }
  .header-wrapper img {
    width: 32px !important;
  }
  #content,
  .blog .half,
  .blog .content-wrapper {
    width: 100% !important;
  }
}
@media screen and (max-width: 532px) {
  .unit.one-fifth {
    width: 50%;
  }
  .flickr li,
  .flickr a {
    width: 153.3px;
    height: 153.3px;
  }
  #what-ppl-say h3 {
    left: 22px;
  }
}

@media screen and (max-width: 480px) {
  .padding-top,
  .more-padding-top { 
    padding-top: 30px !important; 
  }
  
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
  .post-wrapper,
  .header-wrapper {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .grid {
    padding: 0;
  }
  .github .unit.one-fifth {
    width: 100%;
  }
  .projects {
    .half {
      padding-bottom: 100% !important;
    }
  }
  .half,
  .grid .half,
  .grid .w-1-2,
  .golden-large {
    width: 100%;
  }
  
  .grid .unit:first-child,
  .grid .unit:last-child {
//    padding: 0;
  }
  .content-wrapper {
//    width: 94%;
  }
  .flickr li {
    width: 33.3% !important;
    height: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }