$prim-font-stack:		'Lato','LatoLatinWebRegular', sans-serif;
$sec-font-stack:		'baseticamedium', sans-serif;
$line-height:       1.6;
$logo-color:        #666;
$header-bg-color: 	#fbfbfb;
$link-color:        #65C7FD;

$border: 						1px solid #ddd;
$less-padding:			1em;
$padding:						60px;
$margin:            3em;
$more-margin:       60px;
$more-padding:			120px;
$green:							rgba(104, 166, 52, .95);
$black:             #222;
$grey:							#ccc;
$white:							#f4f4f4;
$blue:							#08c;
$light-blue:        #F1F4F9;
$p-font-size:       1.8em;

$max-width: 1600px;
/*============================================================================
  #Breakpoints
==============================================================================*/
$small: 480px;
$ip6: 375px;
$medium: 768px;
$large: 769px;