@font-face {
  font-family: 'baseticamedium';
  src: url('../fonts/basetica-med-webfont.eot');
  src: url('../fonts/basetica-med-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/basetica-med-webfont.woff2') format('woff2'),
       url('../fonts/basetica-med-webfont.woff') format('woff'),
       url('../fonts/basetica-med-webfont.ttf') format('truetype'),
       url('../fonts/basetica-med-webfont.svg#baseticamedium') format('svg');
  font-weight: normal;
  font-style: normal; 
}
@import 'reset';
@import 'variables';
@import 'globals';
@import 'mixins';
@import 'grid';
@import 'header';
@import 'portfolio';
@import 'tech-logos';
@import 'github';
@import 'footer';
@import 'blog';
@import 'mediaqueries';